.api-edit {
    .title {
        .ant-form-item-label label {
            display:block; width:100%; text-align:right;
            color: #a5a5a5;
            font-size: 24px;
            margin:24px 0;
        }
    }

    
}

.api-edit  .save {
        height: 24px;
        margin-right: 10px;
    }
.api-edit .cancel {
        height: 24px;
    }

.ant-modal-body {max-height: 500px; overflow-y:scroll;}
